<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>
 
<%= render :partial => "tasks/form" %>
<h3> My Tasks </h3>

<table> 
	<% @tasks.each do |task| %>
		<tr>
			<td> <%= task.name %></td>
			<td> <%= task.description %></td>
			<td> <%= task.deadline %></td>
		</tr>
	<% end %>
</table>	

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
